/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
 */

h1 { 
	color:#A64100;
}

body { 
	background-color:#2f0571 !important;
}

.container { 
	background-color:#fff073 !important;
}

.awesome { 
	color:darkgreen;
	font-weight:bold;
}

.great { 
	color:green;
}

.ok { 
	color:yellow;
}

.poor { 
	color:red;
}

.crap { 
	color:brown;
}

img { 
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	border:1px solid #000;
}